{% extends 'antique/base.html' %}
{% load static %}

{% block title %}ANTIQUE HOUSE{% endblock %}

{% block page_content %}
    <section>
        <div class="container-fluid my-carousel">
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/image1.jpg' %}" class="d-block w-100" alt="Первый слайд">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Украсьте своё окружение</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/image2.jpg' %}" class="d-block w-100" alt="Второй слайд">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Погрузитесь в историю</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/image3.jpg' %}" class="d-block w-100" alt="Третий слайд">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Санкт-Петербург, Московский проспект д.147</h2>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <div class="main-content">

        <section class="story-content">
            <div class="container">
                <h1 class="text-uppercase text-center">История</h1>
                <div class="row align-items-start">
                    <div class="col-lg-6 col-sm-12">
                        <img src="{% static 'img/story.jpg' %}" alt="story">
                    </div>
                    <div class="col-lg-6 col-sm-12 text-left">
                        <p>
                            Антикварный магазин-салон "Antique Shop" занимает особое место среди фирм по продаже
                            антиквариата в Петербурге.
                        </p>
                        <p>
                            У нас всегда можно приобрести разнообразные предметы старины, отражающие индивидуальность
                            "петербургского периода" русского искусства. В ассортименте есть как вещи бытового
                            назначения, так и эксклюзивные, коллекционные предметы антиквариата, имеющие атрибуции
                            ведущих музеев (Государственного Русского музея, Государственной Третьяковской галереи и
                            др.) и искусствоведов страны, сертификаты ВХНРЦ им. Академика И.Э.Грабаря, ГосНИИ
                            Реставрации, Территориального Управления по сохранению культурных ценностей МК РФ.
                        </p>
                        <p>
                            В коллекции салона представлены: живопись русских и европейских мастеров, иконы и графика;
                            предметы обстановки: мебель различных стилей и направлений, осветительные приборы, ковры,
                            скульптура, художественная бронза и фарфор известнейших мануфактур, часы; а также большой
                            выбор ювелирных изделий: украшения, серебро, посуда и убранство стола, предметы религиозного
                            искусства. Приоритетными направлениями являются русская живопись, старинный европейский,
                            Императорский и агитационный фарфор, изделия фирм К.Фаберже, бр. Грачевых, бр. Овчинниковых,
                            Сазикова, Морозова и др.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}