{% load static %}
<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <h4>Время работы</h4>
                    <ul class="list-unstyled">
                        <li>ПН-ВС: 9:00-24:00</li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h4>Телефон поддержки</h4>
                    <ul class="list-unstyled">
                        <li><a href="tel:+79910127685">+7(991) 012-76-85</a></li>
                        <li><a href="tel:+79910127683">+7(991) 012-76-83</a></li>
                        <li><a href="tel:+79910127683">+7(991) 012-76-84</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h4>Наши социальные сети</h4>
                    <div class="footer-icons">
                        Тут должны быть социальные сети
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <h3 class="float-right">
                        <a href="#">Наверх</a>
                    </h3>
                    Агентство по разработке потрясных сайтов на bootstrap, django... А мы просто любим антиквариат
                </div>
            </div>
        </div>
    </section>
</footer>