{% load static %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            ANTIQUE HOUSE
            <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-text-bottom"
                 alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'index' %}active{% endif %}"
                       href="{% url 'index' %}">Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-cart">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'contacts' %}active{% endif %}" href="#">Контакты</a>
                </li>
                <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header bg-body-secondary">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Фото</th>
                                        <th scope="col">Позиция</th>
                                        <th scope="col">Шт.</th>
                                        <th scope="col">Стоимость</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>
                                            <div class="select-amount">
                                                <select class="form-select" aria-label="Шт.">
                                                    <option selected value="1">1 шт.</option>
                                                    <option value="2">2 шт.</option>
                                                    <option value="3">3 шт.</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <h3>Итого: ... руб.</h3>
                                <button type="button" class="btn btn-primary">Перейти к оформлению заказа</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header bg-body-secondary">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Фото</th>
                                        <th scope="col">Позиция</th>
                                        <th scope="col">Шт.</th>
                                        <th scope="col">Стоимость</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>
                                            <div class="select-amount">
                                                <select class="form-select" aria-label="Шт.">
                                                    <option selected value="1">1 шт.</option>
                                                    <option value="2">2 шт.</option>
                                                    <option value="3">3 шт.</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <h3>Итого: ... руб.</h3>
                                <button type="button" class="btn btn-primary">Перейти к оформлению заказа</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Отзывы</a> и т.д. можно добавлять
                </li>  -->
            </ul>
        </div>
    </div>
</nav>