{% load static %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            ANTIQUE HOUSE
            <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-text-bottom"
                 alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'index' %}active{% endif %}"
                       href="{% url 'index' %}">Главная</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link  {% if navbar == 'account' %}active{% endif %}"
                           href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Аккаунт
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a>
                            </li>
                            {% if user.is_superuser or user.is_stuff %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">
                                        Админ-панель
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'users:logout' %}">
                                    Выйти
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'users:login' %}">Авторизация</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link  {% if nav_bar == 'catalog' %}active{% endif %}"
                       href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Каталог
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'antique:antique_catalog' %}">Каталог антиквариата</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'antique:author_catalog' %}">Каталог авторов</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'contacts' %}active{% endif %}"
                       href="{% url 'users:contacts' %}">Написать нам</a>
                </li>
            </ul>
        </div>
    </div>
</nav>